




 .fl-node-5ff4ce52edaa4 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





.fl-node-6005ccbb9cc37 > .fl-row-content-wrap {
	background-color: #F7F8FA;
}
 .fl-node-6005ccbb9cc37 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





 .fl-node-6005f31100f38 > .fl-row-content-wrap {
	margin-top:45px;
	margin-bottom:25px;
}
 .fl-node-6005f31100f38 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





 .fl-node-5ffd6f3c7a3e8 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





 .fl-node-600725ae46c48 > .fl-row-content-wrap {
	margin-top:45px;
}
 .fl-node-600725ae46c48 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}





 .fl-node-5ffd9302e8486 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}




.fl-node-6000b8e8bda63 {
	width: 100%;
}




.fl-node-6005ccbb9cc89 {
	width: 100%;
}




.fl-node-6005f31100f8b {
	width: 100%;
}




.fl-node-5ffd6f3c7a4bd {
	width: 100%;
}




.fl-node-5ffd6f3c7a4c0 {
	width: 100%;
}




.fl-node-5ffd6f3c7a4c3 {
	width: 100%;
}




.fl-node-600725ae46ca3 {
	width: 100%;
}




.fl-node-5ffd9302e853e {
	width: 100%;
}




.fl-node-5ffd9302e8541 {
	width: 100%;
}




.fl-node-5ffd9302e8544 {
	width: 100%;
}
 .fl-node-6000b8e8bd9d0 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-6005ccbb9cc8a > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5ffd6f3c7a4be > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5ffd6f3c7a4c1 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-600725ae46ca4 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5ffd9302e8542 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-600737620292b > .fl-module-content {
	margin-bottom:150px;
}
@media ( max-width: 768px ) {
 .fl-node-600737620292b.fl-module > .fl-module-content {
	margin-bottom:150px;
}
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */


/* Start Layout CSS */

/* End Layout CSS */

